In [1]:
import pandas
from sklearn import linear_model
df = pandas.read_csv("CO2_sum.csv")
df

            make       model  eng_size  cylender  co2
0          ACURA         ILX       2.0         4  196
1          ACURA         ILX       2.4         4  221
2          ACURA  ILX HYBRID       1.5         4  136
3          ACURA         TSX       2.4         4  212
4          ACURA         TSX       2.4         4  225
...          ...         ...       ...       ...  ...
1017  VOLKSWAGEN       Jetta       1.4         4  163
1018  VOLKSWAGEN   Jetta GLI       2.0         4  196
1019  VOLKSWAGEN   Jetta GLI       2.0         4  198
1020       VOLVO      S60 T5       2.0         4  208
1021       VOLVO  S60 T6 AWD       2.0         4  219

[1022 rows x 5 columns]

In [2]:
X = df[['eng_size', 'cylender']]
y = df['co2']

regr = linear_model.LinearRegression()
regr.fit(X, y)
print('coefficients:  ', regr.coef_)

coefficients:   [27.69484539  7.75884576]

In [3]:
pred = regr.predict([[2.3, 4]])
print (pred)

[205.00222919]

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(